/* You can add global styles to this file, and also import other style files */
/* Add application styles & imports to this file! */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
  margin: 0;
  padding: 0;
}
.overlay {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;
  text-align: center;
  /* Black background with opacity */
  background: rgba(0, 0, 0, 0.5) url('assets/images/spinner-loader.gif') no-repeat center;
  z-index: 2000; /* Specify a stack order in case you're using a different order for other elements */
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay > span {
  margin-top: -50px;
}
